:root {
    --bs-primary: #f97316;
    --bs-gray-black: #27272a;
    --bs-green: #22c55e;
    --bs-green-light: #98ec2d;
    --bs-blue: #0bace2;
    --bs-pink: #ec4899;
    --bs-red-blur: #ef4444;

    --body-font-family: "Open Sans", sans-serif;
    --title-font-family: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font-family);
    background-color: #f4f4f5 !important;
    height: 10000px;
}

/* Start Component  */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #eee;
    box-shadow: inset 0 0 8px grey;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #27272a;
    background-color: #e3e3e7;
}

.icon-sm {
    width: 32px;
    height: 32px;
}

.full-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.card {
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1),
        0 1px 2px -1px rgba(0, 0, 0, .1);
}

.card-header {
    border: 0;
    background-color: transparent;
}

.card-body {
    border: 0;
    background-color: transparent;
}

.card-footer {
    border: 0;
    background-color: transparent;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.bg-primary {
    background-color: var(--bs-primary) !important;
}

.bg-dark {
    background-color: #27272a !important;
}

.w-3 {
    width: 3%;
}

.w-17 {
    width: 17%;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-80 {
    width: 80%;
}

.w-fit {
    width: fit-content;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.icon-shape {
    width: 48px;
    height: 48px;
}

.border-radius-2xl {
    border-radius: 1.5rem;
}

.text-sm {
    font-size: .875rem !important;
}

.progress {
    overflow: visible;
}

.progress-md {
    height: 5px;
}

.progress-bar {
    height: 6px;
    border-radius: 10px;
}

/* End Component  */

/* Start left side bar  */
.left-side-bar {
    transition: 0.5s;
    flex: 0 0 250px;
    transition: 0.5s;
}

@media (max-width: 1200px) {
    .left-side-bar {
        width: 0px;
        flex: 0 0 0;
    }
}

.offcanvas.offcanvas-start {
    width: 250px;
    overflow: hidden;
}

@media (max-width: 1200px) {
    .offcanvas.offcanvas-start {
        margin: 10px 0 10px 10px;
        border-radius: 10px;
        width: 250px;
        background-color: #fff !important;
        box-shadow: 0 0 20px #00000030;
    }
}

.offcanvas .offcanvas-body {
    width: 100%;
}

.offcanvas .offcanvas-body .brand-logo i {
    font-size: 28px;
    color: var(--bs-primary);
}

.offcanvas .offcanvas-body .navbar li {
    width: 95%;
}

.offcanvas .offcanvas-body .navbar li a {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    width: 100%;
    padding: 8px 10px;
    background: transparent;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    color: black;
}

@media(min-width: 992px) {
    .offcanvas .offcanvas-body .navbar li.active a {
        background-color: white;
        box-shadow: 0 0 10px #0000001c;
    }
}

.offcanvas .offcanvas-body .navbar li a i {
    width: 35px;
    height: 35px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 13px;
    transition: 0.5s;
    box-shadow: 2px 2px 10px #0000000d;
}

@media (max-width : 992px) {
    .offcanvas .offcanvas-body .navbar li:not(.active) a i {
        background-image: linear-gradient(310deg, #e3e3e7, #e3e3e7);
    }
}

.offcanvas .offcanvas-body .navbar li.active a i {
    color: white;
    background-color: var(--bs-primary);
}

.offcanvas .offcanvas-body .navbar li a span {
    font-size: 12px;
    font-weight: 600;
}

.offcanvas .offcanvas-body .navbar li h6 {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 900;
    color: #777;
    margin: 1rem 0;
}

/* End left side bar  */
/* start global header  */
/* .dashboard-content {
    padding: 0 25px;
} */

.dashboard-content .header-section .header-content {
    padding: 8px 10px;
    border-radius: 10px;
    transition: 0.5s;
}

@media (max-width: 992px) {
    .dashboard-content .header-section .header-content {
        background-color: white;
    }
}

.dashboard-content .header-section {
    padding: 15px 0;

}

.header-section .tab-info p {
    color: #777;
    font-size: 14px;
}

.header-section .input-group {
    width: fit-content;
}

.dashboard-content .header-section .input-group input {
    flex: 0 0 200px;
}

.header-section .input-group input:focus {
    outline: none;
    box-shadow: none;
    background: #f4f4f5;
}

.header-section .input-group button {
    background: transparent;
    color: #71717a;
    border: none;
    padding: 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.header-section .input-group button:focus {
    outline: none;
    box-shadow: none;
    border: none;
    background: transparent;
    color: var(--bs-primary);
}

.header-content .input-group button::after {
    display: none !important;
}

.header-section .input-group .dropdown-menu.show {
    position: absolute;
    inset: 0px 0px auto auto;
    margin: 0px;
    transform: translate3d(0px, 35.4px, 0px) !important;
}

.setting-bar .left-bar {
    width: 350px;
    box-shadow: 0 0 20px #00000021;
    z-index: 100;
    transform: translateX(350px);
    transition: 0.5s;
}

.setting-bar .left-bar.show {
    transform: translateX(0px);
}

@media (max-width: 667px) {
    .header-content>.input-group {
        width: 100%;
        justify-content: center;
    }

    .header-content>.input-group>.input-group {
        width: 100%;
    }

    .header-content>.input-group>.input-group input {
        flex: 0 0 calc(100% - 50px);
    }
}

.header-content .notification .dropdown-menu.show {
    display: flex;
    align-items: start;
    gap: 0.5rem;
    flex-direction: column;
}

.header-content .notification .dropdown-item {
    cursor: pointer;
}

.header-section .notification .notifi-icon {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    border-radius: 5px;
    overflow: hidden;
    background-image: linear-gradient(310deg, rgb(113, 113, 122), rgb(227, 227, 231));
}

.header-section .notification .notifi-icon img {
    width: 100%;
}

.header-section .notification .notifi-content .title {
    font-size: 14px;
    color: rgb(31, 31, 31);
    font-weight: 500;
    user-select: none;
}

.header-section .notification .notifi-content .title span {
    font-size: 15px;
    font-weight: bold;
}

.header-section .notification .notifi-content .time {
    font-size: 12px;
    color: rgb(113, 113, 122) !important;
}

.card.card-background {
    background-image: url("/assets/curved-images/white-curved.jpg");
}

.left-side-bar .card .card-body {
    background-image: linear-gradient(123deg, transparent, #9c9da6);
}

.sidenav-footer .btn {
    font-size: 13px;
    font-weight: bold;
}

.sidenav-footer>.btn {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary);
    padding: 10;
}

.sidenav-footer p {
    font-size: 12px;
    font-weight: 600;
}

/* .content>.row>div {
    height: 400px;
    background-color: red;
} */


.dropdown .btn::after {
    display: none;
}

.dashboard-content .content .card .dropdown .btn {
    border: 0;
}

/* End global header  */
